

.main {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #4a4a4a;
  font-size: 5rem;
  @media (max-width: 768px){
    padding: 10px;
  }
  @media (min-width: 768px) {
    min-width: 768px;
  }
}

.container{
  display: flex;
  justify-content: center;
  /*align-items: center;*/
  flex-direction: row;
  width: 100%;
  max-width: 650px;
  flex-wrap: wrap;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  padding: 50px;
}

.form-container{
  width: 100%;
}

.col{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
  @media (max-width: 768px){
    width: 100%;
  }
}


.img-container{
  margin-right: 10px;
  width: 40%;
  min-width: 274px;
}


h1,h2{
  margin: 0;
}

a{
  text-decoration: none;
  color: #4a4a4a;
  font-size: 0.8rem;
  margin-top: 10px;
  cursor: pointer;
}

.bg-form{
  width: 20rem;
  height: 20rem;
}

.form-input{
  width: 100%;
  max-width: 240px;
  margin-bottom: 7px;
  border-radius: 7px;
  border: solid 2px #D169CC;
  padding: 10px;
  color: #4a4a4a;
  font-size: 1.1rem;
  @media (max-width: 768px){
    max-width: 90%;
  }
}

.form-input:focus{
  outline: none;
  border-color: #c58bc1;
}

.input-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.form-title{
  font-size: 2rem;
  font-weight: 600;
}

.first-input{
  margin-top: 15px;
}

.form-button{
  width: 100%;
  max-width: 240px;
  border: solid 2px #D169CC;
  background-color: #D169CC;
  margin-top: 15px;
  padding: 10px;
  border-radius: 7px;
  color: white;
  font-weight: 600;
  cursor: pointer;
  transition: 0.25s;
}

.form-button:hover{
  background-color: #fff;
  color: #D169CC;
}

.form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.link-container{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
