
<div class="main">
    <div class="container">
      <div class="col img-container">
        <img
          class="bg-form"
          ngSrc="assets/astronaut-1.svg"
          width="100"
          height="100"
          alt="Astronaut"
        />
      </div>
      <div class="col">
        <div *ngIf="isLogin" class="form-container">
          <form class="form" (submit)="login($event)">
            <span class="form-title">Entrar</span>
            <div class="input-container">
              <input
                type="email"
                id="email"
                class="form-input first-input"
                [(ngModel)]="email"
                name="email"
                placeholder="Email"
              />
            </div>
            <div class="input-container">
              <input
                type="password"
                id="password"
                class="form-input"
                [(ngModel)]="password"
                name="password"
                placeholder="Senha"
              />
            </div>
            <div class="input-container">
              <button class="form-button">Entrar</button>
            </div>
          </form>
          <div class="link-container">
            <a (click)="change()">Não tenho uma conta</a>
          </div>
        </div>

        <div *ngIf="!isLogin" class="form-container">
          <form class="form" (submit)="register($event)">
            <h1 class="form-title">Cadastre-se</h1>
            <div class="input-container">
              <input
                type="text"
                id="registerName"
                class="form-input first-input"
                [(ngModel)]="registerName"
                name="registerUsername"
                placeholder="Nome"
              />
            </div>
            <div class="input-container">
              <input
                type="text"
                id="registerTaxId"
                class="form-input"
                [(ngModel)]="registerTaxId"
                name="registerTaxId"
                placeholder="CPF"
              />
            </div>
            <div class="input-container">
              <input
                type="text"
                id="registerBirthDate"
                class="form-input"
                [(ngModel)]="registerBirthDate"
                name="registerBirthDate"
                placeholder="Data de nascimento"
              />
            </div>
            <div class="input-container">
              <input
                type="email"
                id="registerEmail"
                class="form-input"
                [(ngModel)]="registerEmail"
                name="registerEmail"
                placeholder="Email"
              />
            </div>
            <div class="input-container">
              <input
                type="password"
                id="registerPassword"
                class="form-input"
                [(ngModel)]="registerPassword"
                name="registerPassword"
                placeholder="Senha"
              />
            </div>
            <div class="input-container">
              <input
                type="password"
                id="registerConfirmPassword"
                class="form-input"
                [(ngModel)]="registerConfirmPassword"
                name="registerConfirmPassword"
                placeholder="Confirme a senha"
              />
            </div>
            <div class="input-container">
              <button class="form-button">Cadastrar</button>
            </div>
          </form>
          <div class="link-container">
            <a (click)="change()">Tenho uma conta</a>
          </div>

        </div>
      </div>
    </div>
</div>
